<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuwp.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.liuwp.model.Menu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
    </resultMap>

    <select id="selectMenus" resultMap="BaseResultMap">
      SELECT * FROM  menu;
    </select>


</mapper>